/* 전체 컨테이너 스타일 */
.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 상단 행 (눈과 코) */
.top-row {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 10px;
}

.eye, .nose {
    width: 100px;
    height: 100px;
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fnamu.wiki%2Fw%2F%25EB%25AA%2585%25ED%2583%2590%25EC%25A0%2595%2520%25EC%25BD%2594%25EB%2582%259C%2F%25EB%2593%25B1%25EC%259E%25A5%25EC%259D%25B8%25EB%25AC%25BC&psig=AOvVaw39ontZ4OMehZHtFZTSnTBX&ust=1736842808089000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCNjb0-yh8ooDFQAAAAAdAAAAABAE'); /* 여기에 애니메이션 캐릭터 사진 경로를 넣기 */
    background-size: cover;
    background-repeat: no-repeat;
}

.left-eye {
    background-position: -10px -30px; /* 왼쪽 눈 위치 */
}

.nose {
    background-position: -60px -80px; /* 코 위치 */
}

.right-eye {
    background-position: -110px -30px; /* 오른쪽 눈 위치 */
}

/* 하단 행 (입) */
.bottom-row {
    width: 80%;
}

.mouth {
    width: 250px;
    height: 100px;
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fnamu.wiki%2Fw%2F%25EB%25AA%2585%25ED%2583%2590%25EC%25A0%2595%2520%25EC%25BD%2594%25EB%2582%259C%2F%25EB%2593%25B1%25EC%259E%25A5%25EC%259D%25B8%25EB%25AC%25BC&psig=AOvVaw39ontZ4OMehZHtFZTSnTBX&ust=1736842808089000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCNjb0-yh8ooDFQAAAAAdAAAAABAE');
    background-size: cover;
    background-position: -50px -160px; /* 입 위치 */
}

#result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}